#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  display: flex;
  min-height: 100vh;
  text-align: center;
}

#container {
  margin: auto;
  width: 90%;
}

.location, h1, .visit p {
  height: 16vh;
}

.visit a {
  background: #ffd666;
  border: none;
  border-radius: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 8rem;
  margin: auto;
  transition: background 200ms ;
  width: 8rem;
}

.visit a:hover {
  background: #96feff;
  
}

#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  animation-delay: 150ms;
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  animation-delay: 250ms;
}

@media (min-width: 760px) {
  
}